# Сборка / артефакты
dist/
build/
*.spec.bak

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.egg-info/
.eggs/
*.egg

# Виртуальное окружение
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
